
  <div class="container">
    <h4 id="top_user_space">Your Favorites</h4>
    <div *ngIf="!isFav">You havent liked anything yet</div>
    <div *ngIf="isFav" >
  
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Publisher</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="isFav" [@listStagger]='myarray.length'>
            <tr  *ngFor="let comic of myarray; let i= index">
              <th scope="row">{{i + 1}}</th>
              <td>{{comic.title}}</td>
              <td>{{comic.publisher}}</td>
              <td><a  routerLink="/comics/details/{{comic._id}}" class="btn btn-info">Details</a>
              <!-- <a routerLink="/comics/edit/{{comic._id}}" class="btn btn-warning">Edit</a> -->
              <a (click)='unFav($event)' class="btn btn-danger">Remove</a></td>
            </tr>
          </tbody>
      </table>
      
    </div>
  </div>