.container {
    margin-top: 35px;
    background-image: url('https://www.galerie-muehlenhof.de/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/s/t/star-wars-jawa-sixth-scale-set-silo-100122.png');
    background-repeat: no-repeat;
    background-position: 50% 80%; 
}

