<h4 id="top_admin_space">List of All Items</h4>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comic of comics | paginate : {
                id: 'allComicsAdmPage',
                itemsPerPage: pageSize,
                currentPage: currentPage
            }; let i = index" class="col-md-4">
        <th scope="row">{{i + 1}}</th>
        <td><a routerLink='/comics/details/{{comic._id}}'>{{comic.title}}</a></td>
        <td>{{comic.publisher}}</td>
        <td>
          <a (click)='deleteArticle(comic._id)' class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    </tbody>

  </table>
        <pagination-controls class="my-pagination"
            id="allComicsAdmPage"
            (pageChange)="changePage($event)"
            maxSize="9"
            directionLinks='true'
            autoHide="true"
            responsive="true"
            previousLabel=""
            nextLabel=""
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
</div>
