<div class="land">
  <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">Hello geeks</h1>
        <p>You need to <a routerLink='/login'>login</a> or <a routerLink='/register'>register</a> in order to access our awesome content.</p>
      </div>
  </div>

  <div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <h3>Infinity Wars #2 - spoilers</h3>
        <img src="../../../assets/images/01.jpg" alt="">
        <p class="just">Infinity Wars #2 from writer Gerry Duggan and artists Mike Deodato, Jr. and Frank Martin shows the true power of the Infinity Stones – and reveals that all may not be as it seems for Thanos and Gamora – as the heroes unite to take on Gamora as the newly-christened Requiem.</p>
        <p><a class="btn btn-secondary" href="https://www.newsarama.com/41374-redacted-returns-redacted-dies-in-infinity-wars-2-spoilers.html" role="button" target="blank">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Asgardians Of the Galaxy</h3>
        <img src="../../../assets/images/02.jpg" alt="">
        <p class="just">Marvel has released the three variant covers to September 5's Asgardians of the Galaxy, coming from Skottie Young, Humberto Ramos, and Cliff Chiang.</p>
        <p><a class="btn btn-secondary" href="https://www.newsarama.com/41381-cliff-chiang-skottie-young-humberto-ramos-join-in-on-asgardians-of-the-galaxy-1-covers.html#s4" role="button" target="blank">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Meet THE FANTASTIX</h3>
        <img src="../../../assets/images/03.jpg" alt="">
        <p class="just">When the Fantastic Four return home to the Baxter Building in Fantastic Four #4, they'll meet the building's newest residents - the Fantastix, a superteam who have taken up residence in the Fantastic Four's old base.</p>
        <p><a class="btn btn-secondary" href="https://www.newsarama.com/41360-meet-the-fantastix-the-baxter-building-s-new-residents.html" role="button" target="blank">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>